.rainbowText {
    background-image: linear-gradient(to right,red,orange,yellow,green,rgb(122, 122, 237),violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 90s linear infinite
}

@keyframes move {
    to {
        background-position: 4500vh
    }
}

.fade-in {
    opacity: 0;
}

.fade-in.visible {
    opacity: 1;
    animation: fadeIn 2s forwards
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}



canvas {
    max-width: 100%;
    max-height: 100%;
  }
